@import "tailwindcss";

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }

    input::placeholder,
    textarea::placeholder {
      color: var(--color-gray-400);
    }

    button:not(:disabled),
    [role="button"]:not(:disabled) {
      cursor: pointer;
    }

    dialog {
        margin: auto;
    }
}

@theme {
    --default-ring-width: 3px;
    --default-ring-color: var(--color-blue-500);

    --color-red-50: oklch(97.1% 0.013 17.38);
    --color-red-100: oklch(93.6% 0.032 17.717);
    --color-red-200: oklch(88.5% 0.062 18.334);
    --color-red-300: oklch(80.8% 0.114 19.571);
    --color-red-400: oklch(70.4% 0.191 22.216);
    --color-red-500: oklch(63.7% 0.237 25.331);
    --color-red-600: oklch(57.7% 0.245 27.325);
    --color-red-700: oklch(50.5% 0.213 27.518);
    --color-red-800: oklch(44.4% 0.177 26.899);
    --color-red-900: oklch(39.6% 0.141 25.723);
    --color-red-950: oklch(25.8% 0.092 26.042);

    --color-orange-50: oklch(0.98 0.016 73.684);
    --color-orange-100: oklch(0.954 0.038 75.164);
    --color-orange-200: oklch(0.901 0.076 70.697);
    --color-orange-300: oklch(0.837 0.128 66.29);
    --color-orange-400: oklch(0.75 0.183 55.934);
    --color-orange-500: oklch(0.705 0.213 47.604);
    --color-orange-600: oklch(0.646 0.222 41.116);
    --color-orange-700: oklch(0.553 0.195 38.402);
    --color-orange-800: oklch(0.47 0.157 37.304);
    --color-orange-900: oklch(0.408 0.123 38.172);
    --color-orange-950: oklch(0.266 0.079 36.259);

    --color-lime-50: oklch(98.6% 0.031 120.757);
    --color-lime-100: oklch(96.7% 0.067 122.328);
    --color-lime-200: oklch(93.8% 0.127 124.321);
    --color-lime-300: oklch(89.7% 0.196 126.665);
    --color-lime-400: oklch(84.1% 0.238 128.85);
    --color-lime-500: oklch(76.8% 0.233 130.85);
    --color-lime-600: oklch(64.8% 0.2 131.684);
    --color-lime-700: oklch(53.2% 0.157 131.589);
    --color-lime-800: oklch(45.3% 0.124 130.933);
    --color-lime-900: oklch(40.5% 0.101 131.063);
    --color-lime-950: oklch(27.4% 0.072 132.109);
}

/* THEME is not working, so we need to use the colors directly */

.bg-red-50 {
    background-color: var(--color-red-50);
}

.bg-red-100 {
    background-color: var(--color-red-100);
}

.bg-red-200 {
    background-color: var(--color-red-200);
}

.bg-red-300 {
    background-color: var(--color-red-300);
}

.bg-red-400 {
    background-color: var(--color-red-400);
}

.bg-red-500 {
    background-color: var(--color-red-500);
}

.bg-red-600 {
    background-color: var(--color-red-600);
}

.bg-red-700 {
    background-color: var(--color-red-700);
}

.bg-red-800 {
    background-color: var(--color-red-800);
}

.bg-red-900 {
    background-color: var(--color-red-900);
}

.bg-red-950 {
    background-color: var(--color-red-950);
}

.bg-orange-50 {
    background-color: var(--color-orange-50);
}

.bg-orange-100 {
    background-color: var(--color-orange-100);
}

.bg-orange-200 {
    background-color: var(--color-orange-200);
}

.bg-orange-300 {
    background-color: var(--color-orange-300);
}

.bg-orange-400 {
    background-color: var(--color-orange-400);
}

.bg-orange-500 {
    background-color: var(--color-orange-500);
}

.bg-orange-600 {
    background-color: var(--color-orange-600);
}

.bg-orange-700 {
    background-color: var(--color-orange-700);
}

.bg-orange-800 {
    background-color: var(--color-orange-800);
}

.bg-orange-900 {
    background-color: var(--color-orange-900);
}

.bg-orange-950 {
    background-color: var(--color-orange-950);
}

.text-red-50 {
    color: var(--color-red-50);
}

.text-red-100 {
    color: var(--color-red-100);
}

.text-red-200 {
    color: var(--color-red-200);
}

.text-red-300 {
    color: var(--color-red-300);
}

.text-red-400 {
    color: var(--color-red-400);
}

.text-red-500 {
    color: var(--color-red-500);
}

.text-orange-50 {
    color: var(--color-orange-50);
}

.text-orange-100 {
    color: var(--color-orange-100);
}

.text-orange-200 {
    color: var(--color-orange-200);
}

.text-orange-300 {
    color: var(--color-orange-300);
}

.text-orange-400 {
    color: var(--color-orange-400);
}

.text-orange-500 {
    color: var(--color-orange-500);
}

.text-orange-600 {
    color: var(--color-orange-600);
}

.text-orange-700 {
    color: var(--color-orange-700);
}

.text-orange-800 {
    color: var(--color-orange-800);
}

.text-orange-900 {
    color: var(--color-orange-900);
}

.text-orange-950 {
    color: var(--color-orange-950);
}

.bg-lime-50 {
    background-color: var(--color-lime-50);
}

.bg-lime-100 {
    background-color: var(--color-lime-100);
}

.bg-lime-200 {
    background-color: var(--color-lime-200);
}

.bg-lime-300 {
    background-color: var(--color-lime-300);
}

.bg-lime-400 {
    background-color: var(--color-lime-400);
}

.bg-lime-500 {
    background-color: var(--color-lime-500);
}

.bg-lime-600 {
    background-color: var(--color-lime-600);
}

.bg-lime-700 {
    background-color: var(--color-lime-700);
}

.bg-lime-800 {
    background-color: var(--color-lime-800);
}

.bg-lime-900 {
    background-color: var(--color-lime-900);
}

.bg-lime-950 {
    background-color: var(--color-lime-950);
}

.text-lime-50 {
    color: var(--color-lime-50);
}

.text-lime-100 {
    color: var(--color-lime-100);
}

.text-lime-200 {
    color: var(--color-lime-200);
}

.text-lime-300 {
    color: var(--color-lime-300);
}

.text-lime-400 {
    color: var(--color-lime-400);
}

.text-lime-500 {
    color: var(--color-lime-500);
}

.text-lime-600 {
    color: var(--color-lime-600);
}

.text-lime-700 {
    color: var(--color-lime-700);
}

.text-lime-800 {
    color: var(--color-lime-800);
}

.text-lime-900 {
    color: var(--color-lime-900);
}

.text-lime-950 {
    color: var(--color-lime-950);
}